.container {
  padding: 48px;
  box-sizing:border-box;
}
.form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
}
.label {
  margin-top: 12px;
}
.button {
  margin-top: 24px;
}
.error {
  color: red;
  font-size: 12px;
}